{
    "globals": {
        "console": false,
        "describe": false,
        "expect": false,
        "expectThrow": false,
        "it": false,
        "sinon": false
    },
    "rules": {
        "no-unused-vars": 0
    }
}
