$bg: #1e1e1e;
$fontSize: .8em;
$fontColor: #7184af;

.demo {
	background-color: #000;
	box-shadow: 0 4px 14px 4px rgba(0,0,0,0.5);
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 30px auto;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;

	> div {
		background-color: $bg;
		padding-top: 5px;
	}
}

.tab {
	color: #ccc;
	font-size: $fontSize;
	line-height: 30px;
	padding: 0 .5em 0 1.2em;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
	text-transform: uppercase;
}

.term {
	padding-left: 10px;
	height: 100%;
	width: 100%;
}

.editor {
	padding-bottom: 7px;
}

.reset {
	background-color: transparent;
	border: 0;
	color: $fontColor;
	cursor: pointer;
	float: right;
	font-size: $fontSize;
	line-height: 14px;
	margin-top: 8px;
	margin-right: 10px;
	text-transform: uppercase;
}

.demo :global {
	i.icon,
	.ui.inline.dropdown > .text {
		color: $fontColor;
		text-transform: uppercase;
	}

	i.icon:hover,
	.ui.inline.dropdown:hover > .text,
	.ui.inline.dropdown:hover > .text ~ .icon {
		color: #fff !important;
	}

	.ui.dropdown .menu .item,
	.ui.inline.dropdown > .text {
		font-size: $fontSize;
	}

	.ui.inline.dropdown .menu > .text {
		font-size: 1em;
	}

	i.icon.undo {
		cursor: pointer;
		float: right;
		line-height: 2em;
		margin-right: .5em;
	}
}
