@import url('https://fonts.googleapis.com/css?family=Teko');

body {
	background: #222831!important;
}

@media only screen and (min-width: 1200px) {
	footer .ui.container {
		width: 933px;
	}
}

main {
	background-color: #e5e5e5 !important;
}

main.hex {
	background-attachment: fixed;
	background-blend-mode: multiply;
	background-color: transparent !important;
	background-image: url(/images/hexellence.png), linear-gradient(#70a870, #3f6b43);
	background-position: center;
	background-repeat: repeat;
}

main > .ui.container:first-child {
	padding-top: 3em;
}

main .ui.grid {
	margin-top: 0;
	margin-bottom: 0;
}

main h1 {
	font-size: 4rem;
}

content {
	background-color: #fafafa;
}

.content > h2 {
	margin-top: -1em;
	position: relative;
	padding-top: 2em;
}

.content > :has(+ h2) {
	margin-bottom: 0;
}

/* Background pattern from Toptal Subtle Patterns <https://www.toptal.com/designers/subtlepatterns> */
.hero {
	background-blend-mode: multiply;
	background-image: url(/images/what-the-hex.png), linear-gradient(#70a870, #3f6b43);
	background-position: center;
	background-repeat: repeat;
	padding: 3em 0;
}

.hero > .ui.container {
	margin: 2.5em 0 1em;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.hero > .ui.container > h1 {
	color: #fff;
	font-family: 'Teko', sans-serif !important;
	font-size: 4.5em;
	line-height: 0.9em;
	margin: 0;
}

.hero > .container > blockquote {
	color: #fff;
	font-size: 1.5em;
	line-height: 1.5em;
	margin: 0;
}

.hero > .container > blockquote > span {
	background: url(/images/underline.png) no-repeat center bottom / 100% auto;
	display: inline-block;
	height: 1.75em;
}

.edit-page {
	color: #999;
}