@import url('https://fonts.googleapis.com/css?family=Teko');

body {
	background: #333 !important;
}

.hero {
	align-items: center;
	background-image: url(/images/hero-bg.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 50vh;
	justify-content: center;
	min-height: 360px;
	padding: 20px;
	text-align: center;
}

.hero > div {
	background: rgba(255, 255, 255, 0.86);
	border-top: solid 12px #1378d0;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0 3px 25px #000;
	color: #000;
	padding: 10px 25px 18px 25px;
}

.hero h1,
.hero h2 {
	font-family: 'Teko', sans-serif !important;
	margin: 0;
}

.hero h1 {
	font-size: 4em;
}

main {
	background-color: #e5e5e5 !important;
	padding-top: 4em;
}

footer {
	color: #fff;
}
